{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": true,
  "insertPragma": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto"
}